.glowEffect {
	filter: none; 
	-webkit-filter: blur(0px); 
	-moz-filter: blur(0px); 
	-ms-filter: blur(0px);
}
::-webkit-scrollbar { 
    display: none; 
}
/*
@-moz-document url-prefix() {
    #mainContainer {
        width: 1020px !important;
		height: 600px !important;
    }
}
*/
/*
@-ms-document url-prefix() {
    #mainContainer {
        width: 1020px !important;
		height: 630px !important;
    }
}
*/
@font-face {
    font-family:'SourceSansPro-Regular';
    src: url('../font/SourceSansPro-Regular_gdi.eot');
    src: url('../font/SourceSansPro-Regular_gdi.eot?#iefix') format('embedded-opentype'),
        url('../font/SourceSansPro-Regular_gdi.woff') format('woff'),
        url('../font/SourceSansPro-Regular_gdi.ttf') format('truetype'),
        url('../font/SourceSansPro-Regular_gdi.svg#SourceSansPro-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-25CA;
}

@font-face {
    font-family:'SourceSansPro-Bold';
    src: url('../font/SourceSansPro-Bold_gdi.eot');
    src: url('../font/SourceSansPro-Bold_gdi.eot?#iefix') format('embedded-opentype'),
        url('../font/SourceSansPro-Bold_gdi.woff') format('woff'),
        url('../font/SourceSansPro-Bold_gdi.ttf') format('truetype'),
        url('../font/SourceSansPro-Bold_gdi.svg#SourceSansPro-Bold') format('svg');
    font-weight: 70;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-25CA;
}
body{
	font-family: "SourceSansPro-Regular";
}
.page{
	display:none
}
#page_1{
	display:block
}
#tab_container{
	background-color: #f0f0f0;
    border: 1px solid #007098;
	transform: scale(0.89);
	top:-33px;
	position: relative;
	background: #ededed;
/*	display:none;*/
}
.tableImage{
	left: 535px!important;
    position: absolute;
    top: 413px;
    transform: scale(0.94);
}
#dummy_1{
	width:0px;
	height:0px;
	position:absolute;
	top:-5000px
}
#direction{
    margin: 42px;
    /* margin-left: 0px; */
    font-family: "SourceSansPro-Regular";
    font-size: 14px;
    margin-bottom: 10px;
    margin-top: 10px;
}
#direction span{
	 font-family: "SourceSansPro-Bold";
}
.slideImgBegin {
    margin: 50px auto 0;
    position: relative;
    text-align: center;
    width: 666px;
    height: 632px;
}
.button {
    width: 60px;
    margin: 0 auto;
    border: none;
    background: #007098 none repeat scroll 0 0;
    border-radius: 4px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: 'SourceSansPro-Regular';
    font-size: 14px;
    font-weight: 200;
    height: 26px;
    line-height: 24px;
    cursor: pointer;
    margin-top: -45px;
    text-align: center; 
}
#mainContainer  {
    position: absolute !important;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 1000px;
    height: 842px;
/*    background: #ededed;*/
    overflow: hidden;
    -ms-overflow-style: none;
    width: 776px;
/*    margin: auto;*/
}
.RowHead {
    height: 34px;
    margin: 0 auto;
    padding: 0;
    width: 100%;
}
.RowHead .col{
    background-color: #007098;
    color: white;
    float: left;
    font-family: "SourceSansPro-Bold";
    font-size: 14px;
    height: 44px;
    padding: 3px 4px;
    text-transform: uppercase;
    border-right: 1px solid #fff;
}
.RowHead .col.rowPart3{border: none;}
.Row {
    font-family: "SourceSansPro-Regular";
    font-size: 15px;
    width: 100%
}
.Row.Rowcol, .Row.RowLastcol {
    display: table;
}
.Row.RowLastcol{background-color: #007098;}

.Row.Rowcol .innercol {
    float: left;
    padding: 4px;
    height: 82px;
}
.Row.RowLastcol .lastcol{
  float: left;
  height: 5px;
}
.Row.RowLastcol .lastpart1{
  width: 19%;
  border-right: 1px solid #fff;
}
.Row.RowLastcol .lastpart2{
  width: 22.6%;
  border-right: 1px solid #fff;
}
.Row.RowLastcol .lastpart3{
  width: 66%;
  border-right: none;
}
/*.col.rowPart1.tabindex {
    padding: 7px 5px;
}*/
.Row.last {
    border-bottom: 5px solid #007098;
}

.clearfloat{clear: both;}
.rowPart1 {
    width: 140px;
    border-right: 1px solid #007098;
    border-bottom: 1px solid #007098;
}
.rowPart2 {
    border-right: 1px solid #007098;
    border-bottom: 1px solid #007098;
    width:166px;
} 
.rowPart3 {
    border-bottom: 1px solid #007098;
	width: 442px;
}
#begin_btn{
	top:10px;
}
.beginBtn {
	background: #007098 none repeat scroll 0 0;
    border: 2px solid #fff;
    border-radius: 6px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: "SourceSansPro-Regular";
    font-size: 14px;
    font-weight: 200;
    height: 30px;
    line-height: 23px;
    /* margin: 17px auto; */
    position: relative;
    text-align: center;
    width: 70px;
    /* margin-top: 150px; */
    margin: auto;
}

#experimentContainer {
	position:absolute !important;
	top: 1px;/*0*/
	left: 0px;
	width: 1000px;
	height: 579px;
	background: url(../images/car.jpg);
	background-size: 100% 100%;
	overflow:hidden;
/*	display:none;*/
}
#wholeContainer {
	position:absolute;
    top: 30px;
    left: 21px;
    /* right: 0px; 
    margin: auto;*/
    width: 972px;
    height: 502px;
	background: url(../images/BG_teal.png) no-repeat;
	background-size: 100% 100%;
}
#contentContainer {
	position:absolute;
    top: 8px;
    left: 8px;
	width: 954px;
	height: 484px;
	font-family:Roboto-Regular;
	font-size:12px;
	background: url(../images/bg.png);
	background-size: 100% 100%;
}
/* My Activity start here */

.glowEffect, .highlight {
	position: absolute !important;
	top: 278px;
    left: 128px;
    width: 25px;
    height: 24px;
	background: transparent;
	border-radius: 40px;
	border: 3px solid yellow;
	box-shadow: 0px 0px 27px #FFEB3B;
	z-index: 1;
	display: none;
	
	-webkit-animation-name: blinker;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;

    -moz-animation-name: blinker;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;

    animation-name: blinker;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@-moz-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.1; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.1; }
    100% { opacity: 1.0; }
}

@keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.1; }
    100% { opacity: 1.0; }
}
@-moz-keyframes blinker1 {  
    0% { border: 3px solid yellow;  }
    50% { border: 3px solid transparent; }
    100% { border: 3px solid yellow; }
}

@-webkit-keyframes blinker1 {  
    0% { border: 3px solid yellow;  }
    50% { border: 3px solid transparent; }
    100% { border: 3px solid yellow; }
}

@keyframes blinker1 {  
    0% { border: 3px solid yellow;  }
    50% { border: 3px solid transparent; }
    100% { border: 3px solid yellow; }
}

/*Karthik*/

#gameArea{
	width: 922px;
    height: 452px;
    position: absolute;
    top: 8px;
    left: 8px;
    border: 0px solid red;
}

.actDia{
	width: 360px;
    height: 430px;
    position: absolute;
    top: 12px;
    left: 332px;
	background:url("../images/img_01.png") no-repeat 100% 100% / 100% 100%;	
}

.dummyDragContainer{
	width: 170px;
    height: 350px;
    position: absolute;
    top: 42px;
    left: 0px;
    border: 0px solid;
	background: #dae7ed;
    border-bottom: 3px solid #2486b3;
    border-right: 3px solid #2486b3;
    border-top: 3px solid #2486b3;
}

.dumDDEl{
	width: 156px;
    color: #eff1f2;
    outline: none;
    border-width: 2px;
    border-top-style: none;
    border-left-style: none;
    position: absolute;
    left: 6px;
}
/*
.dragEl:hover{
	border:1px solid #006ea1;;
}
*/

.dragg{
	width: 128px;
    height: 35px;
    position: absolute;
    border: 0px solid;
	left: 18px;	
}
#checkBtn,#tryBtn{
	top: 125px;
    position: relative;
	opacity: 0.5;
	pointer-events: none;
/*	pointer-events: auto !important;*/
/*	display:none;*/
}
#checkBtn{
	display:none;
	pointer-events: none;
}
.feedback_tick.correct {
    background: url(../images/feedback.png) 0px -26px no-repeat scroll rgba(0, 0, 0, 0);
}
#reset_btn{
    top: 854px;
    position: absolute;
    display: none;
    left: 358px;
}
#tryBtn{
	display:none;
	opacity: 1;
	pointer-events: auto;
	width:76px;
}
#show_answer{
    width: 104px;
    display: none;
    top: 854px;
    position: absolute;
    left: 279px;
}
.dragEl{
	text-align:center;
	width: 130px;
    height: 28px;
    position: absolute;
    border: 0px solid;
    left: 18px;
    display: table;
	border-radius: 5px;
/*	background: rgba(255, 255, 255, 0.7);*/
/*    background-color: #91191A;*/
/*
    webkit-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.5);
    -moz-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.5);
    box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.5);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
*/
    color: #FFF;
    font-size: 14px;
	cursor:pointer;
}
.feedback_tick {
	display: none; 
    background: url(../images/feedback.png) 0px 0px no-repeat scroll rgba(0, 0, 0, 0);
    position: relative;
    top: 35px;
    width: 30px;
    height: 26px;
    left: 787px;
}
.draggable{
	display:none;
}

.dragEl.ui-draggable-disabled{
	cursor:default;
}

.dragEl div{
	display:table-cell;
	vertical-align:middle;
/*	text-align:center;*/
	padding-left: 5px;
    padding-right: 5px;
	color: #006ea1;
}
#drag_border{
	position: absolute;
    top: 712px;
    left: 37px;
    border: 1px solid #007098;
    width: 700px;
    height: 83px;
    border-radius: 10px;
}
.tab_index:focus {
    outline: 1px solid #88d8f5;
    outline: 1px solid #88d8f5
}
.dropp{
    width: 133px;
    height: 25px;
    position: absolute;
/*     border: 1px dashed; */
/*    background: white;*/
	display:none;
    /* border-radius: 6px; */
}
#dropp_5,#dropp_7{
	height:32px;
}
#dropp_8{
	height: 51px;
}
.dumDDEl_0{
	top: 51.3px;	
}

.dumDDEl_1{
    top: 109.6px;	
}

.dumDDEl_2{
    top: 167.9px;	
}

.dumDDEl_3{
	top: 226.2px;		
}

.dumDDEl_4{
    top: 286.5px;	
}

/*
.dragg_0{
	top: 55px;
}
*/

/*
.dragg_1{
	top: 115px;
}

.dragg_2{
	top: 172px;
}

.dragg_3{
	top: 231px;
}

.dragg_4{
	top: 291px;
}

.dragg_5{
	top: 349px;
}
*/
.dragEl_4{
	top: 720px;
    left: 599px;
}
.dragEl_3{
	top: 720px;
	left: 460px;
}
.dragEl_2{
	top: 720px;
    left: 321px;
}
.dragEl_1{
	    top: 720px;
    left: 180px;
}
.dragEl_0{
	top: 720px;
    left: 40px;
}
.dragEl_9{
	top: 765px;
	left: 599px;
}
.dragEl_8{
	    top: 765px;
	 left: 460px;
}
.dragEl_7{
	top: 765px;
	left: 321px;
}
.dragEl_6{
	top: 765px;
	left: 180px;
}
.dragEl_5{
	top: 765px;
	left: 40px;
}

/*
.dragEl_0{
	top: 720px;
    left: 599px;
}
*/
.dragg_4{
	top: 720px;
    left: 599px;
}
.dragg_3{
	top: 720px;
	left: 460px;
}
.dragg_2{
	top: 720px;
    left: 321px;
}
.dragg_1{
	    top: 720px;
    left: 180px;
}
.dragg_0{
	top: 720px;
    left: 40px;
}
.dragg_9{
	top: 765px;
	left: 599px;
}
.dragg_8{
	    top: 765px;
	 left: 460px;
}
.dragg_7{
	top: 765px;
	left: 321px;
}
.dragg_6{
	top: 765px;
	left: 180px;
}
.dragg_5{
	top: 765px;
	left: 40px;
}
.loadDiv {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #F9F9F9;
    z-index: 9999;
}
.loader {
    position: absolute;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    background: url('../images/loading.gif') 50% 50% no-repeat;
    background-color: none;
    z-index: 10000;
}

.dropp_0{
	top: 90px;
    left: 43px;	
}

.dropp_1{
	top: 138px;
    left: 43px;
}

.dropp_2{
	top: 189px;
    left: 43px;
}

.dropp_3{
	top: 237px;
    left: 43px;
}

.dropp_4{
    top: 286px;
    left: 43px;
}

.dropp_5{
    top: 343px;
    left: 43px;
}
.dropp_6{
    top: 408px;
    left: 43px;
}
.dropp_7{
    top: 458px;
    left: 43px;
}
.dropp_8{
    top: 523px;
    left: 43px;
}
.dropp_9{
    top: 602px;
    left: 43px;
}



.imgCls{
	width: 20px;
    height: 20px;
    position: absolute;
    border: 0px solid;
}

.imgCls.corAns{
	background:url("../images/tick.png") no-repeat 100% 100% / 100% 100%;	
}

.imgCls.inCorAns{
	background:url("../images/cross.png") no-repeat 100% 100% / 100% 100%;	
}

#imgId_0{
	top: 10px;
    left: 467px;
}

#imgId_1{
	top: 133px;
    left: 787px;
}

#imgId_2{
	top: 215px;
    left: 352px;
}

#imgId_3{
	top: 421px;
    left: 374px;
}

#imgId_4{
	top: 380px;
    left: 640px;
}

#imgId_5{
	top: 308px;
    left: 840px;
}

.clkBtn{
    width: 150px;
    height: 32px;
	position: absolute;
    bottom: 14px;
    right: 17px;
    margin: auto;
    border-radius: 10px;
}

.clkBtn.disCls{
	cursor:default;
}

.clkBtn.enCls{
	cursor:pointer;
}

.clkBtn.submitBtns{
	background:url("../../../../assets/images/buttons/horizontal/submit.png") no-repeat 100% 100% / 100% 100%;	
}

.clkBtn.continueBtns{
	/* background:url("../../../../assets/images/buttons/horizontal/continue.png") no-repeat 100% 100% / 100% 100%;	 */
}