* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*{
   -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
@font-face {
    font-family:'SourceSansPro-Regular';
    src: url('../font/SourceSansPro-Regular_gdi.eot');
    src: url('../font/SourceSansPro-Regular_gdi.eot?#iefix') format('embedded-opentype'),
        url('../font/SourceSansPro-Regular_gdi.woff') format('woff'),
        url('../font/SourceSansPro-Regular_gdi.ttf') format('truetype'),
        url('../font/SourceSansPro-Regular_gdi.svg#SourceSansPro-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-25CA;
}
#direction_text{
	position: relative;
	width:751px;
	top:10px;
/*	border:1px solid red;*/
	display:none;
	padding:10px;
	padding-left: 0px;
}
.loadDiv {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #F9F9F9;
    z-index: 9999;
}
.loader {
	position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
    width: 50px;
    height: 51px;
    z-index: 9999;
    background: url(../images/loading.gif) 50% 50%/100% 100% no-repeat rgb(249,249,249);
}
@font-face {
    font-family:'SourceSansPro-Bold';
    src: url('../font/SourceSansPro-Bold_gdi.eot');
    src: url('../font/SourceSansPro-Bold_gdi.eot?#iefix') format('embedded-opentype'),
        url('../font/SourceSansPro-Bold_gdi.woff') format('woff'),
        url('../font/SourceSansPro-Bold_gdi.ttf') format('truetype'),
        url('../font/SourceSansPro-Bold_gdi.svg#SourceSansPro-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-25CA;
}


body:not(.show-focus-outlines) button:focus, body:not(.show-focus-outlines) [tabindex]:focus {
     outline: none;
}
 [tabindex]:focus {
     outline: solid 1px #88d8f5 ;
}
 .active:focus{
     outline: solid 1px #88d8f5 !important;
}
.hide{display: none;}
.mainContainerR {
    /*border: 1px solid;*/
/*    display: inline-block;*/
/*    height: 897px;*/
/*    margin: 0px auto;*/
    position: relative;
/*    left: 0;*/
/*    right: 0;*/
    width: 800px;
	top:30px;
/*	overflow-x:hidden;*/
/*	top:30px;*/
}
body
{
    font-family: 'SourceSansPro-Regular';
    font-size: 14px;
    margin: 0 auto;
/*	overflow-x: hidden;*/
	
}
#dummy_1,#dummy_no,#dummy_2,.dummy_div{

	position: absolute;
    top: -5000px;

}
.boldText {
  font-family: "SourceSansPro-Bold";
  font-size: 14px;
  position: relative;
  /*left: 5px;*/
}

.activityQuestion {
    /* height: 86px; */
    margin: 0px auto;
    padding-top: 20px;
    /* width: 666px; */
    text-align: center;
    margin-bottom: 20px;
}
.image_table{
	position: absolute;
    top: 328px;
    left: 545px;
}
.direction {
    color: #007098;
    font-family: "SourceSansPro-Bold";
    font-size: 14px;
    margin-top: 46px;
    position: relative;
}
.drop_container{
	border-right: 1px solid #007098;
    border-bottom: 1px solid #007098;
    width: 140px;
    float: left;
	
}
.directionText {
    font-size: 14px;
    /* margin-left: 70px; */
    /* position: relative; */
    top: -18px;
    /* display: inline; */
    z-index: 3;
}
.quizeSection {
  /*margin: 0 auto;*/
/*  width: 645px;*/
      /*left: 10px;*/
    position: relative;
  /*margin-top: -25px;*/
}

ul{
    position: relative;
    top: -15px;
    left: -19px;
    width: 162px;
}

.table_images{
    position: relative;
    left: 112px;
    bottom: 205px;
}

.col1_data{
	left: -23px;
	position: relative;
}

.hide_bullet{
  display: none;
}

#img_1{
    left: 152px;
    bottom: 197px;
}
#img_2{
    left: 135px;
    bottom: 216px;
}
#img_3{
  left: 170px;
  bottom: 242px;
}
.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding:0 !important;
    border:0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
  }
.droppable {
    background-color: #f0f0f0;
    border: 1px solid #007098;	
    -webkit-backface-visibility: hidden;
	backface-visibility: hidden;
/*    overflow: hidden;*/
}
#next_btn{
	left: 45%;
}
.droppable .box{
  text-align: left;
  line-height: inherit;
  padding: 0;
}
.RowHead {
    height: 34px;
    margin: 0 auto;
    padding: 0;
/*       width: 667px !important;*/
    margin-left: -2px;

}
#page_1{
/*	overflow:hidden;*/
}
.RowHead .col{
    background-color: #007098;
    color: white;
    float: left;
    font-family: "SourceSansPro-Bold";
    font-size: 14px;
    height: 34px;
    padding: 7px 10px;
    /*text-transform: uppercase;*/
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
	width:142px;
}
.RowHead .col.rowPart3{border: none;width: 165px;}.RowHead .col.rowPart2{width: 443px;    border-right: 1px solid #007098 }
.Row {
    font-family: "SourceSansPro-Regular";
    font-size: 14px;
    width: 101%;
	border-bottom: 1px solid #007098;
}
.Row.Rowcol, .Row.RowLastcol {
    display: table;
	width:100%;
}
.Row.RowLastcol{background-color: #007098;}

.Row.Rowcol .innercol {
    float: left;
    padding: 5px;
    height: 82px;
}
.Row.RowLastcol .lastcol{
  float: left;
  height: 5px;
}
.Row.RowLastcol .lastpart1{
  width: 18.7%;
  border-right: 1px solid #fff;
}
.Row.RowLastcol .lastpart2{
  width: 22.2%;
  border-right: 1px solid #fff;
}
.Row.RowLastcol .lastpart3{
  width: 66%;
  border-right: none;
}
/*.col.rowPart1.tabindex {
    padding: 7px 5px;
}*/
.Row.last {
    border-bottom: 5px solid #007098;
}

.clearfloat{clear: both;}
.rowPart1 {
    width: 20%;
    border-right: 1px solid #007098;
    /* border-bottom: 1px solid #007098; */
}
.rowPart2 {
    border-right: 1px solid #007098;
    /* border-bottom: 1px solid #007098; */
    width: 14%;
} 
.rowPart3 {
    /* border-bottom: 1px solid #007098; */
    width: 66%;
}

.clearfloat{clear: both;}
.rowPart1 {
    width: 140px;
    border-right: 1px solid #007098;
    /* border-bottom: 1px solid #007098; */
}
.rowPart2 {
    border-right: 1px solid #007098;
    /* border-bottom: 1px solid #007098; */
    width:166px;
} 
.rowPart3 {
    /* border-bottom: 1px solid #007098; */
	width: 442px;
}
.row{
	border-bottom: 1px solid #007098;
}

.rowWidth {
    border-bottom: 1px solid #007098;
    border-right: 1px solid #007098;
    width: 42%;
}

/*
.rowPart3 {
    border-right: 1px solid #007098;
    border-bottom: 1px solid #007098;
    width: 40%;
} 
*/
/*
.rowPart4{
    border-bottom: 1px solid #007098;
    border-right: 1px solid #007098;
    width: 18%;
}
*/
.button {
  border: none;
  background: #007098 none repeat scroll 0 0;
  border-radius: 4px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: 'SourceSansPro-Regular';
  font-size: 14px;
  font-weight: 200;
  height: 26px;
  line-height: 24px;
  text-align: center;
  outline-offset: 3px;
}
.begin {
  display: none;
  width: 60px;
  margin: 0 auto;
  margin-top: 30px;
}
.check {
  width: 60px;
  margin: 10px auto;
  display: none;
}
.tryagain{
    width: 100px;
    display: none;
    margin: 10px auto;

}
.showAns {
  display: none;
  width: 140px;
  margin: 0 auto;
/*  left: 285px;*/
  position: relative;
  top: 10px;
	left:-9px;
/*  float: left;*/
}

.Reset {
  display: none;
  width: 60px;
  margin: 0 auto;
/*  left: 290px;*/
  position: relative;
   top: 10px; 
/*  float: left;*/
}
.footer tr{
	display: inline-block;
	width:100% !important;
}
.draggable {
/*    width: 83%;*/
    float: left;
}
.draggable .dragSpotWrapper {
    margin: 5px 0px 0;
    width: 145px;
    float: left;
    height: 100%;
	
    /*border-right: 1px solid #e1e1e1;*/
/*    display:inline-block;*/
    position: relative;
}
.draggable .dragSpotWrapper .dragSpot:hover {
    border: 1px solid #007098;
    border-radius: 5px;
}
.draggable .frame .dragSpotWrapper:last-child {
    border-right: none;
}
.draggable .frame .dragSpotWrapper:last-child .box{
    border-right: none;
}
.draggable .frame .dragSpotWrapper:last-child .box:hover{
    border-right: 1px solid #007098;
}
.selected {
    background-color: #5dadce;
}
.correct {
    background-color: #a0c446;
    background-image: url(../images/correct.png);
    background-repeat: no-repeat;
    background-position: center center;
}
.incorrect {
    background-color: #f54d64;
    background-image: url(../images/incorrect.png);
    background-repeat: no-repeat;
    background-position: center center;
}
.btnSize {
    margin: -17px -15px 0;
}
.feedback {
    height: 50px;
    margin: 10px 0 30px;
    width: 100%;
    text-align: center;
}
.slideImgBegin{
	margin: 50px auto 0;
    position: relative;
    text-align: center;
    width: 666px;
    height: 600px;
	margin-top:10px;
}
.slideImgBegin img{
	width:100%;
	height:100%;
}
#begin_btn{
	left: 45%;
}
#dragSpot_4{

/*border-right:1px solid red;*/
/*
	width:0px;
	height:0px;
*/

}
#containment_container{
    position: absolute;
    width: 751px;
    height: 706px;
/*    border: 1px solid red;*/
/*    top: 72px;*/
/*	border:1px solid blue;*/
/*    left: 0px;*/
    /* z-index: 100; */
/*    margin: auto;*/
/*    left: 0px;*/
/*    right: 0px;*/
	z-index: -1
}
.beginBtn {
  background: #007098 none repeat scroll 0 0;
  border: 2px solid #fff;
  border-radius: 6px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: "SourceSansPro-Regular";
/*  font-size: 14px;*/
  font-weight: 200;
/*  height: 30px;*/
  line-height: 23px;
  margin: 17px auto;
  position: relative;
  text-align: center;
  width: 70px;
/*  margin-top: 150px;*/
}
.beginBtn:hover{
  background:#4095b4;
}
.div1 {
/*     height: 462px;*/
/*    margin: 0px 50px 20px 50px;*/
/*    width: 666px;*/
/*	display:none;*/
}
.nano > .nano-content{
	
	position:relative !important;
}

/*.ansCheck, .EnableSubmit, .tryAgain, .showAnswer, .Reset {
    background: rgba(0, 0, 0, 0) url("../images/submit_disabled.png") no-repeat scroll 0 0;
    width: 112px;
    height: 36px;
    margin: 0 auto;
    cursor: default;
}*/
/*.EnableSubmit {
    background: rgba(0, 0, 0, 0) url("../images/submit.png") no-repeat scroll 0 0;
    cursor: pointer;
}
.tryAgain {
    background: rgba(0, 0, 0, 0) url("../images/try_again.png") no-repeat scroll 0 0;
    cursor: pointer;
}
.showAnswer {
    background: rgba(0, 0, 0, 0) url("../images/show_ans.png") no-repeat scroll 0 0;
    cursor: pointer;
}
.Reset {
    background: rgba(0, 0, 0, 0) url("../images/reset.png") no-repeat scroll 0 0;
    cursor: pointer;
}*/

div.dropSpotAnsWrapper {
    background-color: #fff;
}
div.dropSpot {
}
.box {
    color: #006ea1;
    font-family: "SourceSansPro-Regular";
    font-size: 14px;
    /* padding: 4px; */
    text-align: center;
    padding: 10px 6px;
    line-height: 13px;
	border:1px solid transparent;
	border-right:1px solid transparent;
	-webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    /* vertical-align: top; */
}
.dragSpotWrapper .box {
  /*padding: 7px 5px;*/
  line-height: 14px;
  height: 100%;
  vertical-align: middle;
/*  display: inline-block;*/
  width: 100%;
  border-right: 1px solid #e1e1e1;
}
.ui-draggable{
  cursor: pointer;
}
.ui-draggable-disabled{
  cursor: default;
}
/*.Grayed {
   top: 4px;
    left: 1px;
    opacity: 0.3;
    pointer-events: none;
    position: absolute;
}*/
.spanText{
    position: relative;
    top:-6px;
}

#naviLeft {
  float: left;
  height: 22px;
/*  margin: 55px 25px 22px 10px;*/
  width: 22px;
  border: none;
}
.leftArrowDisable{
  background: rgba(0, 0, 0, 0) url("../images/prev.png") no-repeat scroll 0 -22px;
  opacity: 0.5;
}
.leftArrowEnable{
  background: rgba(0, 0, 0, 0) url("../images/prev.png") no-repeat scroll 0 0;
}
#naviList{
  float: left;
  width: 84%;
  text-align: center;
}
#naviRight {
  float: left;
  height: 22px;
/*  margin: 55px 10px 22px 23px;*/
  width: 22px;
  border: none;
}
.rightArrowDisable{
  background: rgba(0, 0, 0, 0) url("../images/next.png") no-repeat scroll 0 -22px;
  opacity: 0.5;
}
.rightArrowEnable{
  background: rgba(0, 0, 0, 0) url("../images/next.png") no-repeat scroll 0 0;
}

.navigation{
  background: rgba(0, 0, 0, 0) url("../images/gray_dot.png") no-repeat scroll 0 0;
  width: 30px;
  height: 30px;
  float: left;
  cursor: pointer;
}

.footer {
    height: 105px;
    /* margin: 15px auto auto; */
    position: relative;
    width: 751px;
    border: 1px solid #007098;
    border-radius: 5px;
    margin-top: 15px;
}
#naviList ul {
  margin: 14px auto auto;
  position: relative;
/*  width: 80%;*/
  z-index: 1;
}
#naviList ul li {
  display: inline-block;
  width: 64px;
}
#naviList ul li:last-child{
    width: 22px;
}
.navigation span {
    color: #146393;
    display: inline-block;
    margin-left: 1px;
    margin-top: 7px;
}
.iScrollLoneScrollbar {
  height: 489px;
  left: 735px;
  top: 148px !important;
  width: 13px !important;
}
.feedback_tick{
	visibility:hidden;
/*  display: none;*/
  background: url(../images/feedback.png) 0px 0px no-repeat scroll rgba(0, 0, 0, 0);
   position: relative;    
    width: 30px;
    height: 26px;    
    z-index: 101;
	left:752px;
}
.tickCls1{
    top: 111px;
    left: 51%;
}
.tickCls2{
    top: 85px;
    left: 92%;
}



.feedback_tick.correct{background: url(../images/feedback.png) 0px -26px no-repeat scroll rgba(0, 0, 0, 0);}
.button.disabled, .button.disabled:hover {
    background: #007098 none repeat scroll 0 0;
    cursor: default;
    opacity: 0.25;
}

.grayed {
  left: 1px;
  opacity: 0.3;
  pointer-events: none;
  position: relative;
	display: none;
  /*top: 4px;*/
}
.page{
	display:none;
	position: absolute;
/*    top: 10px;*/
}
#show_table{
	background-color: #f0f0f0;
    border: 1px solid #007098;
}
.close-btn {
  background: rgba(0, 0, 0, 0) url(../images/close_btn.png) no-repeat scroll 0 0;
  cursor: pointer;
  height: 20px;
  position: absolute;
  right: 6px;
  top: 9px;
  width: 20px;
}
.close-btn:hover{
  background: rgba(0, 0, 0, 0) url(../images/close_btn.png) no-repeat scroll 0 -17px;
top: 6px;
}
.defaultPopUp {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #007098;
  border-radius: 6px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  color: #202020;
  cursor: default;
  display: none;
  font-family: "SourceSansPro-Regular";
  font-size: 14px;
  height: auto;
  left: 12%;
  line-height: 18px;
  margin: auto;
  padding: 15px 15px 20px;
  position: absolute;
  top: 25%;
  width: 570px;
  z-index: 100;
}

.corAns, .AnsCorrect{
  color: #007098;
  font-weight: bold;
}

.begin:hover,.check:hover,.tryagain:hover,.showAns:hover,.Reset:hover,.rightArrowEnable:hover,.leftArrowEnable:hover{
  opacity: 0.5;
}
.patch {
  background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  display: none;
}

#text_container{
	width:751px
}
.Row:first-child { 
  border-bottom: 0px solid red;
}
.quesText {
  clear: both;
  display: block;
  height: auto;
  padding: 10px 20px 0 10px;
  position: relative;
}
#whole_container{
	width:751px !important;
/*	border:1px solid green;*/
	position: absolute;
	height: 800px;
	width:800px;
/*	overflow:hidden;*/
};

@media screen and (max-device-width: 420px) {
	#direction_text{
		width:100% !important;
	}
	#text_container {
		width: 100% !important;
	}
	#whole_container{
		width: 100% !important;
	}

}
@media screen and (max-width: 761px) {
	#direction_text{
		width:100% !important;
	}
	#text_container {
		width: 100% !important;
	}
	#whole_container{
		width: 100% !important;
	}

	
}

/*
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  
.begin {
  display: block;
  width: 70px;
  margin: 0 auto;
}
.check {
  width: 60px;
  margin: 0 auto;
  display: none;
}
.tryagain{
    width: 100px;
    display: none;
    margin: 0 auto;
}
.showAns {
  display: none;
  width: 130px;
  margin: 0 auto 20px;
  left: 285px;
  position: relative;
  top: 0;
  float: left;
}

.Reset {
  display: none;
  width: 60px;
  margin: 0 auto 20px;
  left: 290px;
  position: relative;
   top: 30px; 
  float: left;
  float: left;
}




}
*/
/*

@media screen and (max-width: 800px) {
	.mainContainerR{
		width:100%;
		margin:0;
	}
	.footer{
		    width: 100%;
	 }

	
}
@media screen and (max-width: 585px) {
	.RowHead .col{
		    height: 45px;
	}
	.footer{
		    width: 100%;
	 }

}
@media screen and (max-width: 420px) {
	.nano-content{
		    width: 420px;
	}
	.mainContainerR{
		    width: 420px;
		
	}
	.activityQuestion{
		width:403px;
	}

}
@media screen and (max-width: 588px) {
	.Row.Rowcol .innercol{
		height: 180px;
	}
	.tickCls1 {
    top: 153px;
    left: 51%;
}
	.tickCls2 {
    top: 127px;
    left: 51%;
}


}
*/
/*
@media screen and (max-device-width: 800px) {
	.mainContainerR{
		width:100%;
	}
	.footer{
		    width: 100%;
	 }
	
}
@media screen and (max-device-width: 585px) {
	.RowHead .col{
		    height: 45px;
	}
	
}
@media screen and (max-device-width: 420px) {
	.nano-content{
		    width: 304px;
	}
	.activityQuestion{
		width:403px;
	}
}
*/


